<div class="material-wrapper">
  <div class="material-container">
    <%= render partial: 'nav' %>
    <div class="materials-item-con">
      <div class="material-item" style="background-color: aliceblue">
        <%= render partial: 'link' %>
      </div>
      <%= render partial: 'middle_data' %>
    </div>
  </div>
</div>